body{
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    height: 36vw;
}
.formulario{
    border-radius: 1vw;
    background: rgb(4,201,73);
    background: linear-gradient(315deg, rgba(4,201,73,0.6644782913165266) 32%, rgba(1,124,244,1) 95%);
    height: 30vw;
    width: 30vw;
    font-size: 1.5vw;
    margin-left: 35%;
    margin-top: 5%;
}
form{
    padding: 2vw 12px 2px 12px;
    display: grid;
    gap: 0.1vw;
}
form img{
    width: 10vw;
    position: relative;
    bottom: 2vw;
    margin-left: 8.5vw;
}
input, label{
    position: relative;
    bottom: 2vw;
    margin-left: 3vw;
    width: 20vw;
    height: 1.1vw;
}
input{
    border-radius: 5px;
    height: 1.7vw;
    border: none;
}
button{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin-left: 8.5vw;
    cursor: pointer;
    width: 9vw;
    height: 6vh;
    border: none;
    border-radius: 1vw;
    text-decoration: none;
}
button:hover{
    opacity: 0.8;
    background-color: #12d618;
    color: black;
    font-weight: 700;
}